 <div class="container p-4 overflow-auto">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <h1 style="color: aliceblue;">Agregar usuario administrador</h1>
                <p style="color: aliceblue;"><em>Aquí puedes añadir un nuevo usuario administrador</em></p>
                <form action="/links/newAdmin" method="POST">
                  <div class="alert alert-secondary">
                    <h2>Información personal</h2>
                    <p></p>
                    <div class="row">
                        <!-- Columna 1 -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="Nombres" placeholder="Nombre" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="nombre">Usuario</label>
                                <input type="text" class="form-control" name="Usuario" placeholder="Usuario" autocomplete="off">
                            </div>
                            
                            <div class="form-group">
                                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" name="FechaNacimiento" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="contrasena">Contraseña</label>
                                <input type="password" class="form-control" name="contrasena" placeholder="Contraseña">
                            </div>
                            
                        </div>
                        <!-- Columna 2 -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="numeroIdentidad">Número de Identidad</label>
                                <input type="text" class="form-control" name="DNI" placeholder="Número de Identidad" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="lugarNacimiento">Lugar de Nacimiento</label>
                                <input type="text" class="form-control" name="LugarNacimiento" placeholder="Lugar de Nacimiento" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="confirmarContrasena1">Confirmar Contraseña</label>
                                <input type="password" class="form-control" name="Contrasena" placeholder="Confirmar Contraseña" autocomplete="off">
                            </div>
                        </div>
                        <!-- Columna 3 -->
                        <div class="col-md-4">
                            <!-- 
                                <div class="form-group">
                              <label for="numeroTelefono">Número Telefónico</label>
                                <input type="tel" class="form-control" name="numeroTelefono" placeholder="Número Telefónico">
                            </div> -->
                            <div class="form-group">
                                <label for="correoElectronico">Correo Electrónico</label>
                                <input type="email" class="form-control" name="CorreoElectronico" placeholder="Correo Electrónico" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="Genero">Género</label>
                                <select class="form-control" name="Genero">
                                    <option value="masculino">Masculino</option>
                                    <option value="femenino">Femenino</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="direccion1">Dirección de Correspondencia</label>
                                <input type="text" class="form-control" name="DirCorrespondencia" placeholder="Dirección de correspondencia" autocomplete="off">
                            </div>
                            
                        </div>
                    </div>
                  </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary">Confirmar Registro</button>
                        <button class="btn btn-secondary">Cancelar</button>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
